*
{
    padding: 0;
    margin: 0;
    -webkit_box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;

}


body{

    background-color:black;
    background-repeat: no-repeat;
   
    background-attachment: fixed;
background-position: 0,0;
    font-family: helvetica,arial,san-serif
    line-height:20px;
}

.container {
	width: 90%;
	max-width: 900px;
	margin:auto;

}

 article{


    background: rgba(24,8,33,.9);
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    box-shadow: 0 5px 5px 3px rgba(0. 0. 0. 0.25);
 }
 
article h2{
   color: #fff;
}

article hr{
    background: gray;
    height: 5px;
    border: none;
}

article p{
    line-height: 25px;
}

article h2, article p, article hr{
    margin-bottom: 20px;
}
h4{
    color: #ffd700
}